<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <style>
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        form{
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <h1>Welcome, {{ username }}!</h1>
    <p>You have successfully accessed the dashboard.</p>
    <a href="/logout">Logout</a>
</body>
</html>